body{
    background-color: #f1e6c6;
    font-family: 'Arial',serif;
    background-image: url('../img/image2.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    &.contact{
        background-image: none;
    }
    &.page-template-template-home{
        a.load-item{
            display: none !important;
        }
    }
    p{
        font-family: 'Arial';
        font-size: 16px;
    }
}