// Grid settings
// -------------------------

@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;


// Brand colors
// -------------------------

@brand-primary:         #464646;


// Glyphicons path
// -------------------------
@fa-font-path:   "../vendor/font-awesome/fonts/";
@icon-font-path:        "../vendor/bootstrap/fonts/";
