/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 9, 2015, 8:48:48 PM
    Author     : husenEF
*/

.wpcf7-form{
    .form-group{
        label{
            font-weight: normal;
        }
    }
    .wpcf7-form-control{
        border: 0px transparent solid;
        border-radius: 0px;
    }
    .wpcf7-submit{
        background-color: #000;
        color: #fff;
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
    }
}