// Content wrapper
.wrap {
    margin-top:40px;
    margin-bottom:80px;
    .page-header{
        display: none;
    }
    p{
        img{
            .img-responsive();
            background-color: #fff;
            padding: 5px;
            &.alignleft{
                margin-right: 20px;
            }
        }
    }
}

// Main content area
.main {
    .make-sm-column(@main-sm-columns);
    .sidebar-primary & {
        .make-sm-column(@main-sm-columns - @sidebar-sm-columns);
    }
}