.banner { 
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index:10;
    background-color: #fff;
    .full{
        position: absolute;
        right: 15px;
        border: none;
        background-color: #fff;
        width: 30px;
        height: 18px;
        top: -18px;
        &:visited,
            &:active,
            &:hover{
            border:none;
        }
    }

    &.navbar{
        border-radius: 0px;
        border: 0px transparent solid;
        margin: 0px;
        .navbar-header{
            .navbar-brand{
                height: 80px;
                width: 80px;
                padding:0px;
                background-image: url(../img/logo.jpg);
                background-repeat: no-repeat;
                background-position: center center;
                background-color:#000;
                img{
                    display: none;
                }
                /*padding: 18px 18px 15px 15px;*/
            }
        }
        nav{
            .navbar-nav{
                position:relative;
                & > li{
                    min-height: 80px;
                    position:relative;
                    &:hover,
                        &.active{
                        &:before{
                            border-left: 5px solid #fff;
                            border-right: 5px solid #fff;
                            border-top: 6px solid #000;
                            content: " ";
                            height: 10px;
                            left: 45%;
                            position: absolute;
                            width: 10px;
                        }
                        a{
                            background: transparent;
                            color: #000;

                        }
                    }
                    a{
                        font-family: 'Arial';
                        font-size: 12px;
                        text-transform: uppercase;
                        color: @brand-primary;
                        .caret{
                            display: none;
                        }
                    }
                    &.active{
                        .dropdown-menu{
                            display: block;
                            height: 150px;
                        }
                    }
                }
                .dropdown-menu{
                    position: absolute;
                    min-width: 580px;
                    padding:0px;
                    display: none;
                    border:0px transparent solid;
                    border-radius: 0px;
                    box-shadow :none;
                    z-index:100000;
                    li{
                        float:left;
                        margin-right:10px;
                        &.active{
                            a{

                                &:before{
                                    opacity: 0;
                                }
                            }
                        }
                        a{
                            text-align:center;
                            text-transform: inherit;
                            padding:0px;
                            position:relative;
                            transition: all 0.3s ease 0s;
                            -webkit-transition: all 0.3s ease 0s;
                            -o-transition: all 0.3s ease 0s;
                            -moz-transition: all 0.3s ease 0s;
                            &:before{
                                position: absolute;
                                content: " ";
                                height: 100%;
                                width: 100%;
                                background: rgba(0,0,0,0.75);
                                opacity: 1;
                            }
                            &:hover{
                                &:before{
                                    opacity: 0;
                                }
                                span{
                                    color: #000;
                                }
                            }
                            img{
                                .img-responsive();
                                margin: 0 auto;
                            }
                            span{
                                /*.pull-left();*/
                                font-size: 11px;
                                color: @brand-primary;
                                display: block;
                            }
                        }
                    }
                }
            }

        }
    }
}
