.contact {
    .main{
        .title{
            h3{
                font-family: 'Arial';
                margin: 5px 0px;
                text-transform: uppercase;
            }
        }
        .bordered{
            border-left: 1px #d6ceb7 solid;
        }
    }
}