/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 8, 2015, 9:40:27 PM
    Author     : husenEF
*/

@media (max-width: @screen-xs-max) { 
    .banner{
        &.navbar{
            nav{
                .navbar-nav{
                    & > li{
                        width: 100%;
                        clear:both;
                        min-height:auto;;
                        &.active{
                            &:before{
                                border:0px transparent solid;
                            }
                        }
                        &:hover{
                            &:before{
                                border:0px transparent solid;
                            }
                        }
                        &:before{
                            border:0px transparent solid;
                        }
                    }
                    ul.dropdown-menu{
                        position: relative !important;
                        margin:0px 15px;
                        min-width: 99%;
                    }
                }
            }
        }

    }
}
/* 768px until 991px*/
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
}
/* 992px until 1199px*/
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { 
}
/* min width 1200px*/
@media (min-width: @screen-lg-min) { 

}