/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 19, 2015, 12:01:36 AM
    Author     : husenEF
*/
.owl-carousel{
    .owl-wrapper-outer{
        .owl-wrapper{

        }
    }
    .owl-controls{
        position: absolute;
        float: right;
        height: 10px;
        z-index: 1000;
        /*background-color: red;*/
        top: -25px;
        right: 0px;
        margin: 0px;
        .owl-page{
            &.active{
                span{
                    color: #000 !important;
                }
            }
            span{
                background-color: transparent !important;
                color: rgb(158, 158, 158) !important;
                padding: 2px !important;
                margin: 4px !important;
            }
        }
    }
}